.About {
    width: 100%;
	padding: 0 15px;
	margin-right: auto;
	margin-left: auto
}

.About .row {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	padding: 0 25px;
}

.About .col-left {
  max-width: 20%;
}

.About .col-right {
	margin-left: 15px;
	max-width: 70%
}

.picture {
    border-radius: 50% ;
	margin-top: 5rem;
	width: 175px;
}

@media (max-width:1000px) {
	.picture {
		margin-top: 0;
		width:125px
	}

	.About .row {
		display: flex;
		flex-flow: column wrap;
		padding: 0 10px;
	}

	.About .col-left {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-right: 50px;
		width: 50%;
		max-width: 50%;
	}

	.About .col-right {
		margin: 15px 15px;
		padding-right: 50px;
		max-width: 90%
	}
}



