.About {
    width: 100%;
	padding: 0 15px;
}

.About .row {
	display: flex;
	padding: 0 25px;
}

.About .col-left {
  width: 25%;
}

.About .col-right {
	padding-right: 40px;
	max-width: 65%
}

.picture {
    border-radius: 50% ;
	margin-top: 5rem;
	width: 200px;
}

@media (max-width:990px) {
	.picture {
		margin-top: 0;
		width:125px
	}

	.About .row {
		flex-flow: column wrap;
		padding: 0 10px;
	}

	.About .col-left {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-right: 50px;
		width: 50%;
		max-width: 50%;
	}

	.About .col-right {
		margin: 15px 15px;
		max-width: 90%
	}
}



