.double-list {
    display: flex;
    justify-content: space-around;
    margin: 1% 5% 1% 5%;
}

@media (max-width:700px) {
    .double-list {
        display: inline-block;
    }
}

.skill-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 1% 5% 1% 5%;
}

@media (max-width:700px) {
    .skill-list {
        display: inline-block;
    }
}






