.double-list {
    display: flex;
    justify-content: space-around;
    margin: 1% auto;
    max-width: 80rem
}

@media (max-width:700px) {
    .double-list {
        display: inline-block;
    }
}

.skill-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 1% auto;
    max-width: 80rem;
}

@media (max-width:700px) {
    .skill-list {
        display: inline-block;
    }
}






