.double-list {
    display: flex;
    position: relative;
    justify-content: center;
}

@media (max-width:700px) {
    .double-list {
        display: inline-block;
    }
}

.skill-list {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 1% 1% 1% 1%;
    flex-grow: 1;
    flex-wrap: wrap;
}

@media (max-width:700px) {
    .skill-list {
        display: inline-block;
    }
}






