.timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 20px 0;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
}

.timeline-item-content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 25px;
    position: relative;
    width: 400px;
    max-width: 70%;
    margin-right: 120px;
}

.timeline-item-content::after {
    content: ' ';
    background-color: #fff;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
    text-align: left;
    align-items: flex-start;
    margin-left: 80px;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-header {
    justify-content: flex-start;
}

.timeline-title {
    text-align: left;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: left;
    color:dimgray;
    margin: 0 0;
    line-height: 1.2;
}

.timeline-subtitle {
    text-align: left;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: .5rem;
    line-height: 1.2;
    margin-top: .5rem;
    
}

.timeline-position {
    font-weight: bolder;
    text-align: left;
    font-size: 1rem;
    color: #00aaff;
    margin: 5px 0;
}

.timeline-body {
    color: grey;
    text-align: left;
    margin: 0 0;
}

.timeline-description {
    margin:0 0;
    line-height: 1.75;
    font-size: 0.8rem;
    font-weight: 400;
}

.timeline-image {
    text-align: center;
    position: absolute;
    z-index: 100;
    border: 5px solid rgba(78, 85, 86, 0.9);
    border-radius: 100%;
    background-color: rgba(78, 85, 86, 1);
    width: 120px;
    height: 120px;
    top: calc(50% - 65px);
    left: calc(0% - 65px);
}

.timeline-item:nth-child(odd) .timeline-image {
    right:auto;
    left: calc(10% - 2px);
}

.image {
    vertical-align: middle;
    border-style: none;
    border-radius: 50% !important;
    width:120px
}

@media ( max-width :990px) {
	.timeline-item {
        margin: 5px 0;
        width: 100%;
    }
    
    .timeline-item:nth-child(odd) {
        justify-content: flex-end;
    }
    
    .timeline-item-content::after {
        right: auto;
        left: -7.5px;
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
    }
    
    .timeline-item:nth-child(odd) .timeline-item-content {
        text-align: left;
        align-items: flex-start;
        margin-left: 80px;
    }
    
    .timeline-image {
        width: 70px;
        height: 70px;
    }
    .timeline-item .timeline-image {
    }

    .timeline-item:nth-child(odd) .timeline-image {
        margin-left: 1%;
    }

    .image {
        width:70px
    }

}

@media ( max-width: 500px) {
	.timeline-item {
        align-self: flex-end;
        justify-content: flex-end;
        padding: 0 0;
    }

    .timeline-item-content::after {
        right:auto;
        left: -7.5px;
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
    }
    
    .timeline-item-content {
        flex-direction: column;
        padding: 15px;
        max-width: 80%;
        margin-right: 5px;
    }
    
    .timeline-item:nth-child(odd) .timeline-item-content {
        margin-left: 40px;
    }

    .timeline-item:nth-child(odd) .timeline-image {
        margin-left: 30%;
        margin-top: 10%;
        width: 50px;
        height: 50px;
    }

    .timeline-item .timeline-image {
        margin-left: 0%;
        margin-top: 10%;
        width: 50px;
        height: 50px;
    }

    .image {
        width:50px
    }
}

