.Toolbar {
    height: 56px;
    width: 100%;
    position:fixed;
    top:0;
    left:0;
    background-color: rgba(78, 85, 86, 0.9);
    display:flex;
    padding:0 0px;
    z-index: 150;
}

.Toolbar nav {
    margin-left: auto;
    height: 100%;

}
.Toolbar .AnchorLink {
    margin-left: 2%;
    margin-right: auto;
    text-decoration: none;
}

.Toolbar h2 {
    padding-top: 4%;
    color: white;
}

.Toolbar h2:hover {
    color: #00aaff;
}

.Toolbar .btn-primary {
    display: none;
    align-items: center;
    border-radius: 20%;
    width: 38px;
    height: 38px;
    padding: .5% .5%;
}

@media (max-width: 990px) {
    .Toolbar {
        display:flex;
        justify-content: space-between;
    }

    .Toolbar nav {
        margin-left: 0;
    }

    .Toolbar .AnchorLink {
        margin-left: auto;
        margin-right: 2%;
    }

    .Toolbar h2 {
        font-weight: 600;
        font-size: 24px;
    }

    .Toolbar .btn-primary {
        margin-left: 2%;
    }

}

@media (max-width: 990px) {
    .Toolbar .DesktopOnly {
        display: none;
    }
    .Toolbar .MobileOnly {
        display: inline-block;
    }
}