.DrawerToggle {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding: 10px 0px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 20px;
}

.DrawerToggle div {
    width: 90%;
    height: 2px;
    background-color: white;
}

@media (min-width: 990px) {
    .DrawerToggle {
        display: none;
    }
}