.modal__outer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}

.modal {
    width: 200px;
    border: 1px solid #0099ff;
    background:white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    z-index: 200;
}

.modal p {
    margin-top: 15px;
    font-size: large;
}

.modal_close {
    margin-top: 5px;
    border: 1px solid black;
    align-content: center;
}

.centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.modal__open {
    animation: popup 0.4s;
 }

 @keyframes popup {
    0%{
      transform: scale(0.8);
    }
    50%{
      transform: scale(1.2);
    }
    60%{
      transform: scale(1.1);
    }
    80%{
      transform: scale(1);
    }
    100%{
      transform: scale(1);
    }
  }