.NavigationItem {
    margin:10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a {
    text-decoration: none;
    width:100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #40A4C8;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin:0;
        display:flex;
        height: 100%;
        width:auto;
        align-items: center;
    }
    
    .NavigationItem a {
        color: white;
        height:100%;
        width:auto;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        text-transform: uppercase !important;
        color: #00bbff;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        text-transform: uppercase !important;
        border-bottom: 4px solid #00bbff;
        color: white;

    }
}