.NavigationItem {
    margin:0;
    display:flex;
    height: 100%;
    width:auto;
    align-items: center;
}

.NavigationItem a {
    color: white;
    height:100%;
    width:auto;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    text-transform: uppercase !important;
    color: #00bbff;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    border-bottom: 3px solid #00bbff;
    color: white;
}

@media (max-width:990px) {
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        border-bottom: 0;
    }
}
