.SideDrawer {
    position:fixed;
    min-width:35%;
    max-width: 40%;
    height: 100%;
    left:0;
    top:0;
    z-index:200;
    background-color: rgba(78, 85, 86, 0.9);
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.SideDrawer nav {
    margin-top: 20px;
}

.SideDrawer a {
    padding: 10px 0px;
    border-bottom: 0;

}

.SideDrawer .NavigationItem:hover::after,
.SideDrawer .NavigationItem:active::after,
.SideDrawer .NavigationItem.active::after   {
    content:" •";
    padding-left:5px;
    padding-bottom: 3px;
    font-size: 30px;
    color: white;
}

.SideDrawer input {
    padding: 10px 0rem;
    border-bottom: 0;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

@media(max-width:500px) {
    .SideDrawer {
        min-width:50%;
        max-width: 50%;
    }
}

@media(max-width:990px) {
    .SideDrawer {
        min-width:30%;
        max-width: 35%;
    }
}

