.Technologies .parent {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 100px;
}

.Technologies .child {
    display: inline-block;
    background-color: white;
    margin: 1% 1% 1% 1%;
    flex-grow: 1;
    flex: 1 0 25%;
}

.Technologies .child-skills {
    display: inline-block;
    background-color: white;
    margin: 1% 1% 1% 1%;
    flex-grow: 1;
}

@media ( max-width :900px) {
	.Technologies .child {
		flex: 1 0 10%;
	}
}

.Technologies .row {
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
    margin-left: -15px;
    height:64px;
}

.Technologies .col-25 {
    text-align: left;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    margin-top: 15px;
}

.Technologies .col-75 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
}

.Technologies .list-item {
    border-bottom: 1px solid lightgray;
}

tr {
    border-bottom: 1px solid lightgray;
}

.Technologies .child-skills {
    border: 1px solid pink;

}
  