.Technologies {
    background-color: white;
    width:100%
}


.Technologies .technologies-header {
    text-transform: uppercase !important;
    font-size: 35px;
    margin-top: 0;
}

.Technologies .parent {
    display: flex;
    flex-wrap: wrap;
}

.child {
    display: inline-block;
    background-color: white;
    margin: 1% 1% 1% 1%;
    flex-grow: 1;
    max-width: 250px;
}

.child-skills {
    display: inline-block;
    background-color: white;
    margin: 1% 1% 1% 1%;
    flex-grow: 1;
}

  