.Technologies .parent {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 100px;
}

.Technologies .child {
    display: inline-block;
    margin: 1% 1% 4% 4%;
    flex-grow: 1;
    flex: 1 0 20%;
}

@media ( max-width :1050px) {
	.Technologies .child {
		flex: 1 0 8%;
	}
}

@media ( max-width :1050px) {
	.Technologies .child {
		flex: 1 0 5%;
	}
}

.Technologies .row {
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: -15px;
    margin-left: -15px;
    height:64px;
}

.Technologies .col-25 {
    text-align: left;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    margin-top: 15px;
}

.Technologies .col-75 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
}



  