.Technologies .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0px auto;
    max-width: 80rem;
    
}

.Technologies .flex-item {
    margin: 1% 1% 4% 4%;
    width: 250px;
}

.Technologies .row {
	display: flex;
	margin-right: -15px;
    margin-left: -15px;
    height: 64px;
}

.Technologies .col-25 {
    text-align: left;
    flex: 0 0 20%;
    margin-top: 15px;
}

.Technologies .col-75 {
    flex: 0 0 80%;
}





  