.ContactForm {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;

}

.ContactForm input,
.ContactForm textarea {
    display: block;
    width: 95%;
    padding: .375rem .75rem;
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.25;
    color:#495057;
    background-color:#fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.ContactForm input:focus,
.ContactForm textarea:focus {
    border: 1px solid #0099ff;
    border-radius: .25rem;
}

.ContactForm textarea {
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

.ContactForm .btn-primary {
    background: transparent;
	color: black;
	border: 2px solid black;
    letter-spacing: 1.5px;
    font-size: 16px;
}

.ContactForm .btn-primary:hover {
    color: white;
}

.ContactForm .btn-primary:disabled {
    color: darkgray;
    border: 2px solid darkgray;
}

.ContactForm .btn-primary:hover:disabled {
    color: darkgray;
    border: 2px solid darkgray !important;
    background-color: transparent !important;
}


@media (min-width: 600px) {
    .ContactForm {
        width: 500px;
    }
}