.Contact {
    width: 100%;
    background-color: WhiteSmoke ;
}
.ContactForm {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;

}

.contact-title {
    text-transform: uppercase !important;
    font-size: 35px;
    margin-top: 0;
}

.ContactForm input {
    display: block;
    width: 95%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color:#495057;
    background-color:#fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.ContactForm input:focus {
    border: 1px solid lightblue;
}

.ContactForm textarea {
    display: block;
    width: 95%;
    height: 150px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color:#495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid#ced4da;
    border-radius: .25rem;
    transition: "border-color .15s ease-in-out, box-shadow .15s ease-in-out";
}

.ContactForm textarea:focus {
    border: 1px solid lightblue;
}

.btn-send {
    text-align: center;
    margin: 0 auto;
    width: 200px;
    padding: 5px 5px 5px 5px;
}


@media (min-width: 600px) {
    .ContactForm {
        width: 500px;
    }
}