
.label-col {
    width:20%;
    text-align: left;
    padding-right: 5px;
}

.skill-col {
    width:80%;
}

.matrix-icon {
    color: #00aaff;
    width: 15;
    height: 15px;
    padding: 2px 0px;
}
.circle-filled {
    height: 10px;
    width: 10px;
    background-color: #00aaff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 1px;
}
.circle-empty {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #00aaff;
    background-color: white;
    display: inline-block;
    margin: 0 1px;
}