.Header {
    text-align: center;
    width: 100%;
    height: 500px;
    color: #fff;    
    background-image: url(../../resources/background.jpg);
    background-color: #000;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    }

.welcome {
    margin: 0 0;
    font-weight: 600;
    font-size: 20px;
    font-style: italic;
    line-height:22px;
    padding-top:6rem;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    margin: 0 0;
    padding-top:0.5rem;
}

.subtitle {
    font-weight: 400;
    font-size: 24;
    margin: 0 0;
    padding-top:0.5rem;
    padding-bottom:1.5rem;
}

.social-media {
    padding-top: 20px;
}