.Header {
    text-align: center;
    width: 100%;
    height: 500px;
    color: #fff;    
    background-image: url(../../resources/background.jpg);
    background-color: #000;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Header .welcome {
    margin: 0 0;
    font-weight: 600;
    font-size: 20px;
    font-style: italic;
    line-height:22px;
	padding-top: 80px;
	padding-bottom: 65px
}

.Header .title {
	line-height: 50px;
	margin-bottom: 25px;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.Header .subtitle {
    margin: .8rem 0;
    padding-bottom: 1.5rem;
} 


.social-buttons li a {
    margin: 1rem 0.3rem;
    padding: 0 0;
	font-size: 20px;
	line-height: 40px;
	display: block;
	width: 40px;
	height: 40px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	color: #fff;
	border-radius: 100%;
	background-color: #212529
}

.social-buttons li a:active, .social-buttons li a:focus, .social-buttons li a:hover {
    background-color: #66c2ff;
}

.btn-primary {
    color: white;
    background-color: #0099ff;
    border-color: #0099ff;
    font-style: bold;
    text-decoration: none;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
	background-color: #66c2ff !important;
	border-color: #66c2ff !important;
	color: #fff
}

@media (max-width:990px) {
    .Header {
        height: 400px;
    }

    .Header .welcome {
        padding-top: 60px;
        padding-bottom: 30px
    }
    
    .Header .title {
        line-height: 50px;
        margin-bottom: 25px;
        font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
    }
    
    .Header .subtitle {
        margin: .4rem 0;
        padding-bottom: 1.5rem;
    } 
}

