.timeline-wrapper {
    width:100%;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.timeline-container::after {
    background-color: gray;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 2px;
    height: 100%;
}

@media (max-width:990px) {
    .timeline-wrapper {
        width:768px;
    }

    .timeline-container::after {
        left: calc(10% - 2px);
        width: 2px;
    }
}

@media (max-width:768px) {
    .timeline-wrapper {
        width:500px;
    }
}

@media (max-width:500px) {

    .timeline-wrapper {
        width:375px;
    }
}

@media (max-width:374px) {

    .timeline-wrapper {
        width:350px;
    }

    .timeline-container {
        margin-right: 5px;
    }
}