.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.timeline-container::after {
    background-color: gray;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 2px;
    height: 100%;
}

@media (max-width:990px) {
    .timeline-container::after {
        left: calc(10% - 2px);
        width: 2px;
    }
}