.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.timeline-container::after {
    background-color: gray;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 2px;
    height: 100%;
}