.Footer {
    color: white;
    width: 100%;
    background-color: rgba(78, 85, 86, 0.9);
    height: 120px;
    padding: 0 0;
}

.Footer .content  {
    display:flex;
    justify-content: space-between;
    align-items:center;
    line-height: .5rem;
    padding-left: 5%;
    padding-right: 5%;
}

.Footer .copyright {
    flex-shrink: 2;
    padding-top: 15px;
    font-size: 16px;
}

.Footer .btn-primary {
    background: transparent;
	border: 2px solid #fff;
}


@media (max-width:720px) {
    
    .Footer .content  {
        line-height: .05rem;
        padding-left: 5%;
        padding-right: 5%;
        margin: 0 0;
    }

    .Footer .copyright {
        padding-top: 10px;
        font-size: 12px;
    }
    
    .Footer .btn-primary {
        font-size: 14px;
        padding: 0.8rem .5rem;
    } 
}

@media (max-width:620px) {
    .Footer {
        height: 80px;
        padding: 0 0;
    }
    
    .Footer .content  {
        padding-left: 1%;
        padding-right: 1%;
    }

    .Footer ul {
        margin: 0 0;
    }
    
    .Footer .copyright {
        font-size: 10px;
    }
    
    .Footer .btn-primary {
        display: none;
    } 
}

@media (max-width:420px) {
    
    .Footer .content  {
        padding-left: 1%;
        padding-right: 1%;
    }

    .Footer ul {
        margin: 0 0;
        padding: 0 0;
    }
    
    .Footer .copyright {
        font-size: 8px;
    }
    
    .Footer .btn-primary {
        display: none;
    } 
}