.Footer {
    color: white;
    width: 100%;
    background-color: rgba(78, 85, 86, 0.9);
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0 0px;
    box-sizing: border-box;
}