.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    flex-flow: row;
}
.NavigationItems input {
    padding: 16px 1rem;
    border-bottom: 4px solid transparent;
}

.NavigationItems input:hover,
.NavigationItems input:active,
.NavigationItems input.active {
    border-bottom: 3px solid #00bbff;
    padding: 16px 1rem;
}

@media (max-width:990px) {
    .NavigationItems input:hover,
    .NavigationItems input:active,
    .NavigationItems input.active {
    border-bottom: 0;
}

}