.list-item {
    text-align: left;
	min-height: 1px;
	padding: 0px 15px;
}

.skill-list .list-item {
    flex: 1 1 400px;
    padding-right: 15px;
    padding-left: 15px;
}

.double-list-item {
    text-align: left;
	min-height: 1px;
    padding: 0px 15px;
}


.list-icon {
    color: #00aaff;
    width: 15;
    height: 15px;
    padding: 8px 8px 4px 0px;
}
