.list-item {
    text-align: left;
    padding-left: 1em;
	min-height: 1px;
	padding-right: 15px;
    padding-left: 15px
}

.skill-list .list-item {
    max-width: 200px;
}

.double-list-item {
    display: flex;
	min-height: 1px;
	padding-right: 15px;
    padding-left: 15px;
}


.list-icon {
    color: #00aaff;
    width: 15;
    height: 15px;
    padding: 7px 4px;
}
